@import url('http://fonts.googleapis.com/css?family=Lato:300,400');

/**
 * GENERAL STYLING
 */
body {
	background-color:#333;
	margin:0px;
}

body, input {
	font-family:Lato, Trebuchet MS, Arial, sans-serif;
}

body > div {
	overflow:hidden;
}

h1 {
	font-size:48px;
	font-weight:300;
	color:#fff;
}

h1 span {
	font-size:24px;
	color:#ccc;
}

ul {
	border:solid 6px rgba(0, 0, 0, 0.7);
	background-color:#fff;
	color:#000;
}

ul li {
	list-style-type:none;
	border-bottom:solid 1px #ccc;
	padding:6px;
	margin-left:-40px;
}

.container {
	width:90%;
	margin:0px auto;
}

.navbar, .errorbar, .client > div {
	display:none;
}

.errorbar {
	background-color:#ff9494;
	border-bottom:solid 1px #000;
	padding:6px 6px 9px 6px;
}

/**
 * LOGIN STYLING
 */
.login .main {
	max-width:420px;
	background-color:#fff;
	border:solid 6px rgba(0, 0, 0, 0.7);
	margin:120px auto 0px auto;
}

.login .error {
	display:none;
	background-color:#ff9494;
	padding:9px;
	margin-bottom:12px;
}

.login h1 {
	background-color:#eee;
	font-size:42px;
	font-weight:300;
	text-align:center;
	padding:8px 8px 12px 8px;
	color:#000;
	margin:0px;
}

.login form {
	padding:12px;
}

.login input[type="text"], .login input[type="password"] {
	width:100%;
	padding:6px;
	box-sizing:border-box;
	margin-bottom:12px;
}

.login input[type="submit"] {
	font-size:14px;
	padding:6px 12px;
}

.login .center {
	text-align:center;
}

/**
 * HEADER STYLING
 */
.navbar {
	background-color:#222;
	border-bottom:solid 1px #111;
	font-weight:300;
	color:#fff;
	overflow:hidden;
}

.navbar h1 {
	font-size:24px;
	font-weight:300;
	float:left;
}

.navbar .right {
	border-right:solid 1px #111;
	float:right;
}

.navbar .right a, .navbar .right a:link, .navbar .right a:visited {
	display:inline-block;
	border-left:solid 1px #111;
	text-decoration:none;
	color:#fff;
	padding:21px 12px;
	opacity:0.6;
}

.navbar .right a.active {
	opacity:1;
}

.navbar img {
	float:left;
	margin:-2px 8px 0px 0px;
}

/**
 * CONTENT STYLING
 */
.sect {
	overflow:hidden;
}

.half {
	width:50%;
	float:left;
}

.inner {
	margin:0px 16px;
}

.half:first-child .inner {
	margin-left:0px;
}

.half:last-child .inner {
	margin-right:0px;
}

.gr {
	color:#aaa;
}

/**
 * DASHBOARD STYLING
 */
.graph {
	height:460px;
}

.servers li .badge {
	background-color:rgba(0, 0, 0, 0.2);
	border-radius:12px;
	padding:0px 7px 2px 7px;
	float:right;
}

/**
 * RESPONSIVE STYLING
 */
 @media screen and (max-width: 700px) {
	.navbar .right {
		border-right:none;
	}
	
	.navbar .right a, .navbar .right a:link, .navbar .right a:visited {
		border-left:none;
	}
	
	.navbar .right span {
		display:none;
	}
	
	.navbar .right img {
		padding-right:0px;
	}
	
	.half {
		width:100%;
		float:initial;
	}
	
	.half .inner {
		margin:0px;
	}
 }
 
 @media screen and (max-width:400px) {
	h1 {
		font-size:36px;
	}
	
	h1 span {
		font-size:18px;
	}
	
	.navbar h1, .navbar .right {
		float:initial;
	}
	
	.navbar .right a, .navbar .right a:link, .navbar .right a:visited {
		padding:0px 12px 12px 0px;
	}
	
	.login .main {
		max-width:100%;
		margin:12px;
	}
 }